/*Large screen styles first - Avoid*/
.product-img {
    width: 50%;
    float: left;
  }
    @media screen and (max-width: 40.5em) {
    .product-img {
        width: auto;
        float: none;
    }
}

    @media screen and (min-width: 40.5em) {
    .product-img {
        width: 50%;
        float: left;
    }
}